body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    padding:20px 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #ccc;
}

h2{
    text-align: center;
    margin-bottom: 20px;

}

input {
    width: 100%;
    background-color: #fff;
    border-radius: 9px;
    border: 1px solid;
    padding: 5px;
    margin: 8px 0;
}
button{
  width: 100%;
  background-color: #000;
  padding: 10px;
  color: #ffff;
  cursor: pointer;
  border:none;
  border-radius: 4px;
}
button:hover{
    background-color: aqua;
    
}